@charset "UTF-8";

/* css초기화 */
*{margin:0; padding:0;font-style: inherit;}
li{ list-style:none; }
a{ text-decoration:none; }
body{
	background-color: #FAFAFA;

}
.container{
	width:750px;
	text-align: center;
	margin: 80px auto;
}
.container img{
	display: inline;
	position: relative;
	float:left;
}
.user_container{
	border-style:solid;
	border-color: #DBDBDB;
	border-width:1px;
	border-radius:3px;
	
	margin-top:20px;
	height:380px;
	width:350px;
	background-color: #fff;
	text-align: center;
	position: relative;
	float:right;
}
.user_container2{
	border-style:solid;
	border-color: #DBDBDB;
	border-width:1px;
	border-radius:3px;
	margin-top:15px;
	height:60px;
	width:350px;
	background-color: #fff;
	text-align: center;
	position: relative;
	float:right;
}
.user_container3{
	color: rgba(var(--i1d,38,38,38),1);
    font-size: 14px;
    text-align: center;
	position: relative;
	float:right;
	padding-top:20px;
	padding-right: 110px;
}

.text{
	
	border-style:solid;
	border-color: #DBDBDB;
	border-width:1px;
	border-radius:3px;
}
.signin_btn{
	margin-top:30px;
	border-style:solid;
	border-color: #ffffff;
	border-width:1px;
	border-radius:3px;
	color:#ffffff;
	font-weight:bolder;
	
}
.login_container img{
	margin:30px 55px;
	display: block;
}
.login_container input{
	margin:10px auto;
	display: block;
}
.login_part_line{
	flex-shrink: 1;
	width: 105px;
	height: 1.2px;
	background-color: rgba(var(--b38,219,219,219),1);
	position: relative;
    top: -4px;
    flex-grow: 1;
	display: inline-block;
	margin: 0;
    padding: 0;
}
.login_part_or{
	margin:7px;
	font-weight:bold;
	display: inline-block;
	color:rgba(var(--f52,142,142,142),1);
	font-size: 13px;
}
.login_part_box{
	height:15px;
	margin: 10px 40px 18px;
	position: relative;
}
.facebook_login_title{
	color: #385185;
	margin:20px;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    cursor: pointer;
    text-align: center;
    text-transform: inherit;
    font-weight:bold;
    font-size:14px;
}
.lose_pw{
	color: rgba(var(--fe0,0,55,107),1);
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
}
.sign_up_container{
	color: rgba(var(--i1d,38,38,38),1);
    font-size: 14px;
    margin: 20px;
    text-align: center;
}
.sign_up_container a{
	color: rgba(var(--d69,0,149,246),1);
	border: 0;
    font: inherit;
    vertical-align: baseline;
    font-weight: 600;
}
.user_img{text-align:center;}
.user_img_div{width:100%}