@charset "UTF-8";

/* css초기화 */
*{margin:0; padding:0;font-style: inherit;}
li{ list-style:none; }
a{ text-decoration:none; }
body{
	background-color: #FAFAFA;

}
.container{
	width:750px;
	margin: 80px auto;
	padding-top:45px;
}
.title{
	font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: rgba(var(--i1d,38,38,38),1);
}

.follow_list{
	flex-grow: 1;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

.follow_button{
	float:right;
	border: 1px solid transparent;
	opacity: 1;
	border-radius: 4px;
	border-color: #FAFAFA;
	color: rgba(var(--eca,255,255,255),1);
    position: relative;
	background-color: rgba(var(--d69,0,149,246),1);
	box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
    user-select: none;
    width: auto;
   
    font-size: 14px;
    line-height: 18px;
}

.list_box{
	position:relative;
}